<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>cssExam6</title>
<style>
    ul{
        overflow:hidden;
    }
    .menu{
        text-align: center;
        float:left;
        width: 100px;
        list-style: none;
        background-color: black;
        border:1px solid orange;
        
    }    
</style>
</head>
<body>
<
<!--#eb8921,@2e2f2f,#f5ad28,#1e1e1e-->
<ul>
    <li class="menu">
        <a href="#" class="font">JAVA</a>
    </li>
    <li class="menu">
        <a href="#" class="font">ORACLE</a>
    </li>
    <li class="menu">
        <a href="#" class="font">HTML5</a>
    </li>
    <li class="menu">
        <a href="#" class="font">CSS3</a>
    </li>
    <li class="menu">
        <a href="#" class="font">JAVASCRIPT</a>
    </li>
    <li class="menu">
        <a href="#" class="font">JQUERY</a>
    </li>
    <li class="menu">
        <a href="#" class="font">SERVER</a>
    </li>
    <li class="menu">
        <a href="#" class="font">FRAMEWORK</a>
    </li>
</ul>
</body>
</html>