<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>하이퍼링크</title>
</head>
<body>
    <header><marquee direction="right" scrollamount="10"> _@/</marquee><hr></header>
    
	<a href = "http://www.naver.com" target="_blank"><img src="http://192.168.10.96:18080/%ea%b3%b5%ec%9c%a0%ed%8f%b4%eb%8d%94/04_HTML/naver.jpg" id="top"></a>
    <br>
    <a href = "기본태그들.html" target="_blank">1.글자 관련 태그</a>
    <br>
    <a href = "화면분할.html" target="_blank">2.화면 분할 태그</a>
    <br>
    <a href = "multiTag.html" target="_blank">3. 멀티미디어 관련 태그</a>
    <br>
    <a href = "listEx.html" target="_blank">4. 리스트 태그</a>
    <br>
    <a href = "%EA%B8%B0%EB%B3%B8exam1.html" target="_blank">5. 시험 본 태그</a>
    <br>
    <a href="#low">밑으로</a>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <h1>테스트</h1>
    <a href="#top" id="low">맨위로</a>
</body>
    <hr>
    <footer><marquee scrollamount="10" direction="right"> ____@/</marquee></footer>
</html>