<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>글자태그 목록 태그</title>
</head>

<body>
    <h3>담당 강사 : <u>이윤수</u></h3>
    <p>이메일 : <i>next007@iei.or.kr</i></p>
    <hr><hr>
    <h2>이번주 식단</h2>
    <ul>
        <li>월요일 <i>식단</i>   
            <ul>
                <li><b>돈까스</b></li>
                <li>참치찌개</li>
                <li><mark><i>계란말이</i></mark></li>
                <li>김치</li>
            </ul>
        </li>
        <li>화요일 <i>식단</i>
            <ol start = "5">
                <li><b>닭다리 튀김</b></li>
                <li>김치찌개</li>
                <li><u>오므라이스</u></li>
                <li><s>냉면</s>-> <mar>떡볶이</mar></li>
            </ol>
        </li>
        <li>수요일 <i>식단</i>
            <ol type="i">
                <li><b><u>수제햄버거</u></b></li>
                <li>우유</li>
                <li><u>스프</u></li>
                <li>단무지<sub><mark><u>2개</u></mark></sub></li>
            </ol>
        </li>
        <li>목요일 <i>식단</i>
            <ol type ="A">
                <li><b>삼겹살</b><mark><sup>특식</sup></mark></li>
                <li>상추</li>
                <li>부침개</li>
                <li><i>무국</i></li>
            </ol>
        </li>
        <li>금요일 <i>식단</i>
            <ol type = "a" reversed>
                <li><b><mark>치즈피자</mark></b></li>
                <li><i>피클</i></li>
                <li>콜라</li>
                <li>스파게티</li>
            </ol> 
        </li>
    </ul>
    <hr>
    <blockquote>일하지 않는자 먹지도 말라 <br>
        <pre>                         <i><b> -김X훈-</b></i></pre>
    </blockquote>
    <cite>식단출처 : kh 정보교육원 (http://iei.or.kr)</cite>
</body>

</html>
