<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>multiTag</title>
</head>
<body>
    <img src="img/dog.jpg" alt="rotkrls">
    <img src="img/dog.jpg" width=100 height="100">
    <hr>
    <img src="img/dog.jpg" usemap="#dogmap">
    <map name="dogmap">
        <area shape="circle" coords="230,98,72" href="img/head.jpg" target="_self">
        <area shape="circle" coords="337,290,71" href="img/disk.jpg" target="_self">
        <area shape="circle" coords="509,366,16" href="img/leg.jpg" target="_self">
        <area shape="circle" coords="507,289,15" href="img/leg.jpg" target="_self">
    </map>
    <iframe width="727" height="409" src="https://www.youtube.com/embed/XS7IBdZpGu8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>