<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>naver실습</title>
</head>

<body>
    <table border="1">
        <tr>
            <th width=100 height=100><a href="http://www.naver.com"><img src="naver/naver_logo.jpg" width=100 height=100></a></th>
            <th width=500 colspan="5">
                <form action="https://search.naver.com/search.naver?sm=top_hty&fbm=1&ie=utf8&" method="get">
                    <input type="text" name = "query" size="35">
                    <input type="submit" value="검색" >
                </form>
            </th>
        </tr>
        <tr>
            <th height=30>메일</th>
            <th>카페</th>
            <th>블로그</th>
            <th>지식in</th>
            <th>쇼핑</th>
            <th rowspan="2" width=200>
                <form action="https://nid.naver.com/nidlogin.login" name="frmNIDLogin" method="POST">
                    <table border="1">
                        <tr>
                            <td><input type="text" name = "id" id="id"></td>
                            <td rowspan="2"><input type="submit" value="로그인"></td>
                        </tr>
                        <tr>
                            <td><input type="password" name = "pw" pw="pw"></td>
                        </tr>
                    </table>
                </form>
                <a href = "https://nid.naver.com/user2/V2Join.nhn?m=agree&lang=ko_KR">회원가입</a>
                <a href = "https://nid.naver.com/user2/help/idInquiry.nhn?menu=idinquiry">ID /</a>
                <a href = "https://nid.naver.com/user2/help/pwInquiry.nhn?menu=pwinquiry">PW 찾기</a>
            </th>
        </tr>
        <tr>
            <th rowspan="2" colspan="5" align="center">
                <table border=1>
                    <tr>
                        <th width=80 height=100><img src="naver/news_image/news%2001.jpg" width=80 height=100></th>
                        <th width=80><img src="naver/news_image/news%2002.jpg" width=80 height=100></th>
                        <th width=80 ><img src="naver/news_image/news%2003.jpg" width=80 height="100"></th>
                        <th width=80><img src="naver/news_image/news%2004.jpg" width=80 height="100"></th>
                    </tr>
                    <tr>
                        <th width=80 height=100><img src="naver/news_image/news%2005.jpg" width=80 height="100"></th>
                        <th><img src="naver/news_image/news%2006.jpg" width=80 height="100"></th>
                        <th><img src="naver/news_image/news%2007.jpg" width=80 height="100"></th>
                        <th><img src="naver/news_image/news%2008.jpg" width=80 height="100"></th>
                    </tr>
                    <tr>
                        <th width=80 height=100><img src="naver/news_image/news%2016.jpg" width=80 height="100"></th>
                        <th><img src="naver/news_image/news%2009.jpg" width=80 height="100"></th>
                        <th><img src="naver/news_image/news%2010.jpg" width=80 height="100"></th>
                        <th><img src="naver/news_image/news%2011.jpg" width=80 height="100"></th>

                    </tr>
                    <tr>
                        <th width=80 height=100><img src="naver/news_image/news%2012.jpg" width=80 height="100"></th>
                        <th><img src="naver/news_image/news%2013.jpg" width=80 height="100"></th>
                        <th><img src="naver/news_image/news%2014.jpg" width=80 height="100"></th>
                        <th><img src="naver/news_image/news%2015.jpg" width=80 height="100"></th>
                    </tr>
                </table>
            </th>
        <tr>
            <th height="300"><img src="naver/tropicana.gif" height="300" width="200"></th>
        </tr>
    </table>
</body></html>