<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>orderForm</title>
</head>
<body>
    고객명 : <input type="text" name ="a"> <br>
    전화번호 : <input type="text" name = "b"><br>
    E-mail : <input type ="text" name ="c">
    <fieldset>
    <legend>피자 사이즈</legend>
        <input type="radio" name = "d"> Small <br>
        <input type="radio" name = "d"> Medium <br>
        <input type="radio" name = "d"> Large <br>
    </fieldset>
    <fieldset>
    <legend>토핑선택</legend>
        <input type="checkbox" name = "e"> 베이컨 <br>
        <input type="checkbox" name = "e"> 치즈 <br>
        <input type="checkbox" name = "e"> 양파 <br>
        <input type="checkbox" name = "e"> 버섯 <br>
    </fieldset>
    희망배송시간: <input type="time" name = "f"><br>
    배송시요청사항: <textarea row="10" cols="20"></textarea><br>
    <input type="submit" value="주문하기">
</body>
</html>