<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>over exam 1</title>
    <link href="over_exam_1.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="wrap">
        <div class="character">
            <img src="css_ovenexam_img/character.png">
        </div>
        <div class="logomenu">
            <h2>Welcome To Lee's World</h2>
            <div class="loginmenu">
                <div class="login">
                    <a href="#" class="menufont">로그인</a>
                </div>
                <div class="signup">
                    <a href="over_exam_1_signup.html">회원가입</a>
                </div>
            </div>
                <div class="menu">
                    <ul>
                        <li><a href="#">JAVA</a></li>
                        <li><a href="#">ORACLE</a></li>
                        <li><a href="#">HTML/CSS</a></li>
                        <li><a href="over_exam_1_board.html">게시판</a></li>
                    </ul>
                </div>
        
        </div>
        <div class="contents">
            <img src="css_ovenexam_img/HtmlCss.jpg">
        </div>
        <div class="footer">
            <a>COPY RIGHT ⓒ Lee's Cooperation</a>
        </div>
    </div>
</body></html>