<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
    <h3>
        담당 강사 :<u>이윤수</u>
    </h3>
    <p>이메일 : <i>next007@iei.or.kr</i></p>
    <hr>
    <hr>
    
    <h1>이번주 식단</h1>
    <ul>
        <li>월요일 식단 
            <ul>
                <li><strong>돈까스</strong></li>
                <li>참치찌개</li>
                <li><mark><i>계란말이</i></mark></li>
                <li>김치</li>
            </ul>
        </li>
        <br>
        <li>화요일 식단</li>
        <ol start = "5">
            <li><strong>닭다리 튀김</strong></li>
            <li>김치찌개</li>
            <li><u>오므라이스</u></li>
            <li><s>냉면</s> -> <mark>떡볶이</mark></li>
        </ol>
        <br>
        <li>수요일 식단</li>
        <ol type = "i">
            <li><strong><s>수제햄버거</s></strong></li>
            <li>우유</li>
            <li><u>스프</u></li>
            <li>단무지<sub><mark><u>2개</u></mark></sub></li>
        </ol>
        <br>
        <li>목요일 식단</li>
        <ol type= "A">
            <li><strong>삼겹살</strong><sup><mark><strong>특식</strong></mark></sup></li>
            <li>상추</li>
            <li>부침개</li>
            <li>무국</li>
        </ol>
        <br>
        <li>금요일 식단</li>
        <ol type="a" reversed start = "d">
            <li><mark><strong>치즈피자</strong></mark></li>
            <li><em>피클</em></li>
            <li>콜라</li>
            <li>스파게티</li>
        </ol>
    </ul>
    <hr>
    <dl>
    </dl>
    <blockquote>
     일하지 않는자 먹지도 말라
    <em>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 김X민 -
        <em>
    </blockquote>
    식단출처 : kh정보 교육원 (http://iei.or.kr)
</body>
</html>