<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
	<h1>제목테그23262626</h1> <!-- h 테그는 재목테그 그래서 한줄을 다 차지한다 -->
    <hr> <!-- 닫는 태그 없음 수평선 만들기 -->
    <h2>h2</h2>
    <h3>h3</h3>
    <h4>h4</h4>
    <h5>h5</h5>
    <h6>h6</h6>
    <!-- 줄바꿈 태그 -->
    <br>
    <h3>문단을 나누는 태그</h3>
<!-- 한 단락을 만드는 태그-->
<!--    위아래로 공백이 조금씩 생긴다. 그리고 공백 및 줄바꿈이 지정안된다.-->
    <p>문단영역을 나누는 태그로는 p태그와 pre태그가 있다.
    p태그는 문단영역을 나누는 태그지만 한 개의 공백만 표시하여 줄바꿈 입력을 별도의 태그로 지정해야한다.
    pre태그는 여러칸 띄우기 혹은 줄바꿈 등을 포함하여 입력한 내용 그대로 표현한다.
    </p>
<!--    이건 지정된다-->
    <pre>
    문단영역을 나누는 태그로는 p태그와 pre태그가 있다. p태그는 문단영역을 나누는 태그지만 한 개의 공백만 표시하여 줄바꿈 입력을 별도의 태그로 지정해야한다.
    pre태그는 여러칸 띄우기 혹은 줄바꿈 등을 포함하여 입력한 내용 그대로 표현한다.
    </pre>
    <h3> 그밖에 텍스트 다루는 태그</h3>
    일반글꼴
    <br>
    <strong>Strong 글자를 굵게 표시하는 태그</strong>
    <br>
    <b>글자를 굵게 표시하는 태그</b>
    <br>
    <em> 글자를 기울이는 태그</em>
    <br>
    <i>글자를 기울이는 태그</i>
    <br>
    <blockquote cite="http://www.naver.com"> 인용문구를 나타내는 태그</blockquote>
    <q>인용문구를 나타내는 태그</q>
    <br>
    <mark>형광펜 효과를 나타내는 태그</mark>
    <br>
    <u>글자에 밑줄 긋는 태그</u>
    <br> 
    <small>글자를 작게 표시하는 태그</small>
    <br>
    기본 글자에 <sub> 아래첨자</sub>를 나타내는 태그 와 <sup>윗첨자</sup>를 나타내는 태그 
    <br>
    <s>글자에 취소선을 넣는 태그 꺼무위키라던가..</s>
    <h3>글자관련 태그 용응</h3>
    <p>
        태그들은 해당 태그 내에서 중첩으로 사용 가능<br>
        <Strong><mark>굵고 빛나는</mark></Strong> 글자를 사용할 수도 있고, <i>기울이거나</i>,<s>취소선</s>을 넣는 등 다용하게 사용 가능하다.
    </p>
    <h3>순서 없는 목록 태그</h3>
    <ul> 
        <li>Html</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
        <li>서버</li>
    </ul>
    <h3>순서 있는 목록 태그</h3>
    <ol>
        <li>Html</li>
        <li>Css</li>
        <li>JavaScript</li>
        <li>jQuery</li>
        <li>서버</li>
    </ol>
    <h3> 시작 넘버링 영어 소문자로 표기</h3>
    <ol type="a">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
    </ol>
     <h3> 시작 넘버링 영어 대문자로 표기</h3>
    <ol type="A">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
    </ol>
    <h3> 시작 넘버링 로마 숫자로 표기</h3>
    <ol type="i">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
    </ol>
    <h3> 시작 넘버링 로마 숫자 대문자 로 표기</h3>
    <ol type="I">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
    </ol>
    <h3> 시작 값 변경하기</h3>
    <ol type="1" start="5">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
    </ol>
    
    <h3> 뒤집어서 표기</h3>
    <ol reversed type="I" start="5">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
    </ol>
    <h3> 설명 목록 태그</h3>
    <dl> 
        <dt> 이곳은 목록의 제목을 적는곳</dt>
        <dd> 목록에대한 설명을 적는곳</dd>
        <dt> 새로운 목록도 추가 가능</dt>
        <dd>설명도 추가로 가능</dd>
    </dl>
    
</body>
</html>