<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Center</title>
    <style>
        .wrap {
            background-color: bisque;
            text-align: center;
            
        }
        .wrap2{
            width: 200px;
            height: 200px;
            background-color: black;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    display속성
    inline -> 좌우에 다른 요소들 배치가능
    inline -> 좌우에 다른 요소들 배치 가능
    inline-block -> 다른요소들 배치 가능
    block -> 다른요소 배치 불가능
    <div class="wrap">
       테스트문구
        <br>
        <button>asd</button>
    </div>
    
    <div class="wrap2">
        
    </div>
</body></html>