<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>부트스트랩 그리드 시스템</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
      div{
          border: 1px solid red;
      }
    </style>
</head>
<body>
  <p>부트스트랩 반응형 기준</p>
  <table>
     <tr>
         <th>그 이하</th>
         <td> width 100%</td>
     </tr>
      <tr>
          <th>sm</th>
          <td>768~991px</td>
      </tr>
      <tr>
          <th>md</th>
          <td>992~1199px</td>
      </tr>
      <tr>
          <th>lg</th>
          <td>1200px~</td>
      </tr>
  </table>
   <hr>
    <div class="row">
         <div class="col-md-1">md-1</div>
        <div class="col-md-1">md-1</div>
        
         <div class="col-md-1">md-1</div>
        <div class="col-md-1">md-1</div>
        
         <div class="col-md-1">md-1</div>
        <div class="col-md-1">md-1</div>
        
         <div class="col-md-1">md-1</div>
        <div class="col-md-1">md-1</div>
        
         <div class="col-md-1">md-1</div>
        <div class="col-md-1">md-1</div>
        
         <div class="col-md-1">md-1</div>
        <div class="col-md-1">md-1</div>
    </div>
    <div class="row">
        <div class="col-md-2">md-2</div>
        <div class="col-md-2">md-2</div>
        <div class="col-md-2">md-2</div>
        <div class="col-md-2">md-2</div>
        <div class="col-md-2">md-2</div>
        <div class="col-md-2">md-2</div>
    </div>
    <div class="row">
        <div class="col-md-3">md-3</div>
        <div class="col-md-3">md-3</div>
        <div class="col-md-3">md-3</div>
        <div class="col-md-3">md-3</div>
    </div>
    <div class="row">
        <div class="col-md-4">md-4</div>
        <div class="col-md-4">md-4</div>
        <div class="col-md-4">md-4</div>
    </div>
    <div class="row">
        <div class="col-md-4">md-4</div>
        <div class="col-md-8">md-12</div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-4">sm-4</div>
        <div class="col-sm-8">sm-8</div>
    </div>
    <div class="row">
        <div class="col-md-4">sm-4</div>
        <div class="col-md-8">sm-8</div>
    </div>
    <div class="row">
        <div class="col-lg-4">sm-4</div>
        <div class="col-lg-8">sm-8</div>
    </div>
    
    <div class="row">
        <div class="col-lg-4 colmd-6">md-4</div>
        <div class="col-lg-8 col md-6">md-8</div>
    </div>
</body>
</html>