<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>join Page</title>
</head>
<body>
    <fieldset>
        <legend>회원가입</legend>
        <form action="/views/join.jsp" method="post">
            아이디: <input type="text" name="memberId"><br>
            비밀번호: <input type="password" name="memberPw"><br>
            이름: <input type="text" name="memberName"><br>
            전화번호: <input type="text" name="phone"><br>
            EMAIL : <input type="text" name="email"><br>
            성별: 남<input type="radio" value="남" name="gender">여<input type="radio" value="여" name="gender"><br>
            <br>
            <input type="submit" value="회원가입">
            <input type="reset" value="초기화">
            </form>
    </fieldset>
</body>
</html>