<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>김종모</title>
<body>
<h1>조기현 다녀감.</h1>
<hr>
	str2: <input type="text" name="str2"><br>

<form action="/sendData2" method="get">
	문자: <input type="text" name="str1"><br>
	숫자: <input type="text" name="num"><br>
	라디오버튼 : <input type="radio" name="gender" value="남">남자<input type="radio" name="gender" value="여">여자
	<br>
	체크박스 : <input type="checkbox" name="hobby" value="java"><input type="checkbox" name="hobby" value="java"><input type="checkbox" name="hobby" value="oracle">
	<br>
	셀렉트박스 :
	<select name="age" id="">
		<option value="10">10대</option>
		<option value="20">20대</option>
		<option value="30">30대</option>
		<option value="40">40대</option>
		<option value="50">50대</option>
		<option value="60">60대</option>
		
	</select>
	<button>제출</button>
</form>
</body>
</head>
</html>